/* this is external css */
 /* inline > id> class > tagname (order of specificity while applying styles) */

/*  for class we use -> (.)  */

/* see what is css box model is  */
/* padding is internal space between text and box border, margin is space between two boxes or outside space of border*/

   


 .heading1{
  background-color: black;     
  color: red;
 }                                 
 .heading2{
  background-color:red ;
  color: black;
 }

/* for id we use-> (#)  */
 #head1{
  background-color: green;
  color: blue;
 }                             
                             
 #head2{
  background-color: yellow;
  color: brown;
 }

 body{
    padding: 0;
    margin: 0;
 }
/* px stands for pixel */
.container{
    width: 500px;
    height: 500px;
    background-color: brown;
    position: relative;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* absolute is used only when parent has position attribute used inside it  */
    position: absolute;

}

.box2{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    /* top,right,bottom,left etc are used only when position is absolute */
    top: 0;
    right: 0;

}

.box3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 0;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;

}

.newinput{
    margin: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

.newinput::placeholder{
    color:peru;

}

.newinput:focus{
    outline: solid;
    color: blueviolet;
    
}

.btn{
    padding: 10px;
    background-color: transparent;
    border: 2px solid blue;         
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
   
}

.btn:hover{
    cursor:pointer;
    background-color: lightgreen;
    color: antiquewhite;
}


