

 .heading1{
  background-color: black;
  color: red;
 }                                 
 .heading2{
  background-color:red ;
  color: black;
 }


 #head1{
  background-color: green;
  color: blue;
 }                             
                             
 #head2{
  background-color: yellow;
  color: brown;
 }

